dist/
resources/
# CAP ZEngAssetTags
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
suncor/ZEngAssetTags/db/.env
# auto generated wildcard
suncor/ZEngAssetTags/.env1
suncor/ZEngAssetTags/app/assetlist/dist
suncor/ZEngAssetTags/app/edmreport/dist
suncor/ZEngAssetTags/app/assetmainapp/dist
suncor/ZEngAssetTags/app/edmreport1/dist
suncor/ZEngAssetTags/app/valuelist/dist
suncor/ZEngAssetTags/app/zengassettags/dist
suncor/ZEngAssetTags/resources